.note {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #999;
  margin-bottom: 1.5rem; }
  .note__list {
    display: flex;
    justify-content: center; }
  .note__icon {
    width: 20px;
    height: 20px;
    fill: #eee; }
  .note__title {
    font-size: 1.5rem;
    font-weight: 400; }
    .note__title:focus {
      outline: none; }
  .note__header {
    display: flex;
    align-items: flex-start; }
  .note__detail {
    height: 0;
    padding: 0;
    overflow: hidden;
    transition: all 0.5s ease-in; }
  .note__input {
    border: none;
    flex: 1;
    background-color: transparent; }
    .note__input:focus {
      outline: none; }

.note-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.filter {
  display: flex;
  align-items: center; }

.container {
  margin: auto;
  position:'relative';
  background-color: white;
  width: 80%;
  margin-top: 50px;
  margin-bottom: 40px 0;
  border-radius: 20px;
  padding: 25px 50px;
  height: calc(100vh - 100px);
  box-shadow: var(--shadow-light);
}

:root {
  --color-primary:#efefef;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark:0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light:0 2rem 5rem rgba(0,0,0,.06); }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-primary); }

code {  
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; }

.btn-primary{
  background-color: #516c9e;
  border-color:#516c9e ;
  color: white;
}
.btn-primary:hover,.btn-primary:active,.btn-primary:focus{
  background-color: #516c9e;
  border-color:#516c9e ;
  color: white;
}
.input-field{
  padding: 9px;
  height: 40px;
}
.edit-note{
  width: 400px;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}